@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.card {
  height: 100%;
}

.navbar-brand a,
.title,
.subtitle {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  padding: 0 20px;
  z-index: 1;
}
.navbar-brand {
  align-items: center;
}

.navbar-brand a {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.card-image img {
  object-fit: cover;
}

.react-photo-gallery--gallery img {
  object-fit: cover;
}

.post .raw,
.post .gallery {
  margin-bottom: 20px;
}

.embed-youtube {
  margin: 20px;
  height: 360px;
}
.youtube-player {
  height: 100%;
}
