@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.card {
  height: 100%;
}

.navbar-brand a,
.title,
.subtitle {
  font-family: "Quicksand", sans-serif;
}

.navbar {
  padding: 0 20px;
  margin-bottom: 30px;
}
.navbar-brand {
  align-items: center;
}

.navbar-brand a {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.embed-youtube {
  margin: 20px;
  height: 360px;
}
.youtube-player {
  height: 100%;
}

.image-gallery {
  width: 100%;
  height: auto;
  text-align: center;
}

.image-gallery-slide img {
  width:auto;
  height: auto;
  max-height: 80vh;
  object-fit: fit;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  height: 100vh;
  max-height: 100vh;
}