@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.login-page {
  height: 100vh;
}

.login-page .login-header {
  margin-top: 20px;
  margin-bottom: 60px;
}
.login-page .login-header .site-name {
  font-size: 120%;
}

.card {
  height: 100%;
}

.navbar-brand a,
.title,
.subtitle {
  font-family: "Quicksand", sans-serif;
}

.navbar .navbar-burger {
  background: none;
  border: none;
  outline: 0;
}

.navbar {
  padding: 0 20px;
  z-index: 1;
}
.navbar-brand {
  align-items: center;
}

.navbar-brand a {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  .navbar-brand a {
    font-size: 1.5rem;
  }
}

.card-content .title {
  margin: 0;
}
.card-image img {
  object-fit: cover;
}

.react-photo-gallery--gallery img {
  object-fit: cover;
}

.post .raw,
.post .gallery {
  margin-bottom: 20px;
}

.embed-youtube {
  margin: 20px;
  height: 360px;
}
.youtube-player {
  height: 100%;
}
