@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

$primary: #3c1c67;
$lightYellow: #f4d3bb;
$body-background-color: $lightYellow;
$footer-background-color: $lightYellow;

@import "../../node_modules/bulma/bulma.sass";

// OLD STYLES
.login-page {
  height: 100vh;

  .login-header {
    margin-top: 20px;
    margin-bottom: 60px;

    .site-name {
      font-size: 120%;
    }
  }
}

.card {
  height: 100%;
}

.navbar-brand a,
.title,
.subtitle {
  font-family: "Gloria Hallelujah", sans-serif;
}

.navbar .navbar-burger {
  background: none;
  border: none;
  outline: 0;
}

.navbar {
  padding: 0 20px;
  z-index: 1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
}

.navbar-brand {
  align-items: center;

  a {
    font-size: 3rem;
    color: #dd817b;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand a {
    font-size: 1.5rem;
  }
}

.card-content .title {
  margin: 0;
}

.card-image img {
  object-fit: cover;
}

.react-photo-gallery--gallery img {
  object-fit: cover;
}

.post .raw,
.post .gallery {
  margin-bottom: 20px;
}

.embed-youtube {
  margin: 20px;
  height: 360px;
}

.youtube-player {
  height: 100%;
}